@import "tailwindcss";

@theme {
  --color-primary: #7B563B;
  --color-secondary: #394B39;
}

:root {
  --background:#EDEAE3;
  --foreground: #EBE6E2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EBE6E2;
    --foreground: #EDEAE3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

h1 {
  font-family: var(--font-playfair-display);
}

/* Default bullet color */
.swiper-pagination-bullet {
  background-color: #ccc !important;
  opacity: 0.6;
}

/* Active bullet color */
.swiper-pagination-bullet-active {
  background-color: #7B563B !important;
  opacity: 1;
}

/* Default Navigation Button Style */
.swiper-button-prev,
.swiper-button-next {
  color: #7B563B !important; /* Change arrow color */
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

/* Hover Effect */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #51f67a !important;
}

/* Change Arrow Size */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important;
}
